/*VERSÃO MOBILE*/
@media screen and (min-device-width:200px) and (max-device-width:520px){
    /*---------- formatando a parte de tras de todo o site -------------*/
    body{
        margin: 0px;
        padding: 0px;
        background-image: url(../imagens/bg_body.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;
        background-size: cover;
        font-family: monospace;
    }

    /*------------- SEÇÃO DO CABEÇALHO ---------------*/
    /*-------------
            esse é o elemento que está por tras do content_header,
            que fixa o menu na parte de cima
    ----------------*/
    header {
        width: 100%;
        height: 180px;
        background-color: #FFDEAD;
        text-align: center;
        border-bottom: 4px solid #8B4513;
        border-radius: 7px;
        font-weight: 900;
        position: fixed;
        color: #8B4513;
        z-index: 999;
    }

    /*div utilizada para descer o main na mesma linha do header*/
    #gamb{
        width: 100%;
        height: 183px;
        margin-left: auto;
        margin-right: auto;
    }

    /*---------------- MAIN - CONTEUDO DO SITE ----------------*/
    /*main é a caixa principal do site*/
    #main{
        width: 100%;
        min-height: 1150px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFF5D6;
        padding-bottom: 5%;
    }

    /*usado para segurar os icones das redes sociais*/
    #redes_sociais{
        display: none;
    }

    /*icones das redes sociais*/
    .itens_redes{
        display: none;
    }

    #content{
        width: 100%;
        min-height: 1150px;
        height: auto;
        padding-top: 15px;
    }

    #titulo{
        width: 80%;
        height: 20%;
        text-align: center;
        font-size: 5em;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .linha_promo{
        width: 100%;
        min-height: 1100px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .subtitulo{
        width: 50%;
        height: 5%;
        font-size: 3.5em;
        text-align: center;
        color: #ffffff;
        background-color: #8B4513;
        margin-bottom: 2%;
    }

    .promo_individual{
        width: 70%;
        min-height: 40vh;
        height: auto;
        margin-left: 15%;
        margin-bottom: 2%;
        border-bottom: 4px solid #8B4513;
    }

    .promo_individual:hover{
        box-shadow: 10px 10px 7px rgba(0, 0, 0, .5);
        border-radius: 5px;
    }

    .nome_produto{
        width: 100%;
        height: 4vh;
        font-weight: 900;
        font-size: 3em;
        padding-top: 2%;
        text-align: center;
    }

    .img_produto{
        width: 100%;
        height: 20vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }

    .img_produto img{
        width: 70%;
        height: 100%;
        margin-left: 15%;
    }

    .descricao_produto{
        width: 100%;
        min-height: 8vh;
        height: auto;
        font-size: 2.3em;
        text-align: center;
        padding-top: 2%;
    }

    .valor_antigo{
        width: 100%;
        height: 3vh;
        text-align: center;
        font-size: 2.5em;
        color: red;
        font-weight: 900;
        text-decoration: line-through;
    }

    .valor_novo{
        width: 100%;
        height: 3vh;
        text-align: center;
        font-size: 3em;
        color: green;
        font-weight: 900;
    }

    /*----------------------- ÁREA DO RODAPÉ --------------------------*/
    /*é o elemento que fica por tras dos outros, dando tamanho, cor para o rodapé*/
    footer{
        width: 99%;
        height: 250px;
        background-color: #FFDEAD;
        margin-left: auto;
        margin-right: auto;
        color: #8B4513;
        border: groove 3px rgba(147, 67, 0, 0.6);

    }

    /*formatação dos links, retirada dos sublinhados, mudando cor, etc*/
    a:link{
        color: #8B4513;
    }
    .links:visited {
        color:#8B4513;
        text-decoration: none;
    }
    .links:active {
        color:#8B4513;
        text-decoration: none;
    }
    .links:hover{
        color:#8B4513;
        cursor:pointer;
        transition:0.3s;
    }
}
/*VERSÃO DESKTOP*/
@media screen and (min-device-width:521px){
    /*---------- formatando a parte de tras de todo o site -------------*/
    body{
        margin: 0px;
        padding: 0px;
        background-image: url(../imagens/bg_body.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;
        background-size: cover;
        font-family: monospace;
    }

    /*------------- SEÇÃO DO CABEÇALHO ---------------*/
    /*-------------
            esse é o elemento que está por tras do content_header,
            que fixa o menu na parte de cima
    ----------------*/
    header {
        width: 100%;
        height: 140px;
        background-color: #FFDEAD;
        text-align: center;
        border-bottom: 4px solid #8B4513;
        border-radius: 7px;
        font-weight: 900;
        position: fixed;
        color: #8B4513;
        z-index: 999;
    }

    /*div utilizada para descer o main na mesma linha do header*/
    #gamb{
        width: 100%;
        height: 143px;
        margin-left: auto;
        margin-right: auto;
    }

    /*---------------- MAIN - CONTEUDO DO SITE ----------------*/
    /*main é a caixa principal do site*/
    #main{
        width: 1500px;
        min-height: 1150px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFF5D6;
    }

    /*usado para segurar os icones das redes sociais*/
    #redes_sociais{
        width: 70px;
        height: 226px;
        position: fixed;
        margin-left: 1510px;
        margin-top: 10px;
    }

    /*icones das redes sociais*/
    .itens_redes{
        width: 70px;
        height: 70px;
        margin-bottom: 5px;
        border-radius: 8px;
        transition: 0.5s;
    }

    /*efeito dos icones das redes sociais*/
    .itens_redes:hover{
        margin-left: 10px;
        cursor: pointer;
        transition: 0.5s;
    }

    #content{
        width: 1500px;
        min-height: 1200px;
        height: auto;
        padding-top: 15px;
    }

    #titulo{
        width: 800px;
        height: 80px;
        text-align: center;
        font-size: 50px;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .linha_promo{
        width: 1500px;
        min-height: 1100px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 75px;
    }

    .subtitulo{
        width: 500px;
        height: 50px;
        font-size: 35px;
        text-align: center;
        color: #ffffff;
        background-color: #8B4513;
    }

    .promo_individual{
        width: 450px;
        min-height: 400px;
        height: auto;
        float: left;
        margin-right: 25px;
        margin-left: 25px;
        border-bottom: 4px solid #8B4513;
    }

    .promo_individual:hover{
        box-shadow: 10px 10px 7px rgba(0, 0, 0, .5);
        border-radius: 5px;
    }

    .img_produto{
        width: 300px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }

    .nome_produto{
        width: 400px;
        height: 40px;
        font-weight: 900;;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        font-size: 23px;
        text-align: center;
    }

    .descricao_produto{
        width: 400px;
        min-height: 150px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        font-size: 23px;
        text-align: center;
    }

    .valor_antigo{
        width: 100%;
        height: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        color: red;
        font-weight: 900;
        margin-top: 10px;
        text-decoration: line-through;
    }

    .valor_novo{
        width: 100%;
        height: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        color: green;
        font-weight: 900;
        margin-top: 10px;
    }

    /*----------------------- ÁREA DO RODAPÉ --------------------------*/
    /*é o elemento que fica por tras dos outros, dando tamanho, cor para o rodapé*/
    footer{
        width: 1495px;
        height: 200px;
        background-color: #FFDEAD;
        margin-left: auto;
        margin-right: auto;
        color: #8B4513;
        border: groove 3px rgba(147, 67, 0, 0.6);

    }

    /*formatação dos links, retirada dos sublinhados, mudando cor, etc*/
    a:link{
        color: #8B4513;
    }
    .links:visited {
        color:#8B4513;
        text-decoration: none;
    }
    .links:active {
        color:#8B4513;
        text-decoration: none;
    }
    .links:hover{
        color:#8B4513;
        cursor:pointer;
        transition:0.3s;
    }
}
