/*VERSAO MOBILE*/
@media screen and (min-device-width:200px) and (max-device-width:520px){
  /*---------- formatando a parte de tras de todo o site -------------*/
  body{
      margin: 0px;
      padding: 0px;
      background-image: url(../imagens/bg_body.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top;
      background-size: cover;
      font-family: monospace;
  }

  /*------------- SEÇÃO DO CABEÇALHO ---------------*/
  /*-------------
          esse é o elemento que está por tras do content_header,
          que fixa o menu na parte de cima
  ----------------*/
  header {
      width: 100%;
      height: 180px;
      background-color: #FFDEAD;
      text-align: center;
      border-bottom: 4px solid #8B4513;
      border-radius: 7px;
      font-weight: 900;
      position: fixed;
      color: #8B4513;
      z-index: 999;
  }

  /*div utilizada para descer o main na mesma linha do header*/
  #gamb{
      width: 100%;
      height: 183px;
      margin-left: auto;
      margin-right: auto;
  }

  /*---------------- MAIN - CONTEUDO DO SITE ----------------*/
  /*main é a caixa principal do site*/
  #main{
      width: 100%;
      min-height: 1050px;
      height: auto;
      background-color: #FFF5D6;
      padding-bottom: 5%;
  }

  /*usado para segurar os icones das redes sociais*/
  #redes_sociais{
      display: none;
  }

  /*icones das redes sociais*/
  .itens_redes{
      display: none;
  }

  #content{
      width: 100%;
      min-height: 1050px;
      height: auto;
      padding-top: 15px;
      padding-bottom: 5%;
  }

  #titulo{
      width: 100%;
      height: 20%;
      font-size: 5em;
      margin-top: 5%;
      margin-bottom: 5%;
      text-align: center;
  }

  #content_produto{
      width: 85%;
      height: 75vh;
      margin-left: auto;
      margin-right: auto;
      border: solid 2px #8B4513;
  }

  #titulo_produto{
      width: 100%;
      height: 5vh;
      font-size: 3.5em;
      padding-top: 2vh;
      text-align: center;
      color: #ffffff;
      background-color: #8B4513;
      margin-bottom: 5vh;
  }

  #imagem_produto{
      width: 100%;
      height: 30vh;
  }

  #imagem_produto img{
      width: 80%;
      height: 100%;
      margin-left: 10%;
  }

  #texto_produto{
      width: 100%;
      height: 25%;
      font-size: 3.1em;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: #8B4513;
  }

  #valor_produto{
      width: 100%;
      height: 10%;
      font-size: 5.5em;
      padding-top: 5%;
      margin-top: 2%;
      text-align: center;
      color: #008000;
  }

  /*----------------------- ÁREA DO RODAPÉ --------------------------*/
  /*é o elemento que fica por tras dos outros, dando tamanho, cor para o rodapé*/
  footer{
      width: 99%;
      height: 250px;
      background-color: #FFDEAD;
      margin-left: auto;
      margin-right: auto;
      color: #8B4513;
      border: groove 3px rgba(147, 67, 0, 0.6);
  }

  /*formatação dos links, retirada dos sublinhados, mudando cor, etc*/
  a:link{
      color: #8B4513;
  }
  .links:visited {
      color:#8B4513;
      text-decoration: none;
  }
  .links:active {
      color:#8B4513;
      text-decoration: none;
  }
  .links:hover{
      color:#8B4513;
      cursor:pointer;
      transition:0.3s;
  }

}
/*VERSAO DESKTOP*/
@media screen and (min-device-width:521px){
  /*---------- formatando a parte de tras de todo o site -------------*/
  body{
      margin: 0px;
      padding: 0px;
      background-image: url(../imagens/bg_body.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top;
      background-size: cover;
      font-family: monospace;
  }

  /*------------- SEÇÃO DO CABEÇALHO ---------------*/
  /*-------------
          esse é o elemento que está por tras do content_header,
          que fixa o menu na parte de cima
  ----------------*/
  header {
      width: 100%;
      height: 140px;
      background-color: #FFDEAD;
      text-align: center;
      border-bottom: 4px solid #8B4513;
      border-radius: 7px;
      font-weight: 900;
      position: fixed;
      color: #8B4513;
      z-index: 999;
  }

  /*div utilizada para descer o main na mesma linha do header*/
  #gamb{
      width: 100%;
      height: 143px;
      margin-left: auto;
      margin-right: auto;
  }

  /*---------------- MAIN - CONTEUDO DO SITE ----------------*/
  /*main é a caixa principal do site*/
  #main{
      width: 1500px;
      min-height: 1050px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      background-color: #FFF5D6;
  }

  /*usado para segurar os icones das redes sociais*/
  #redes_sociais{
      width: 70px;
      height: 226px;
      position: fixed;
      margin-left: 1510px;
      margin-top: 10px;
  }

  /*icones das redes sociais*/
  .itens_redes{
      width: 70px;
      height: 70px;
      margin-bottom: 5px;
      border-radius: 8px;
      transition: 0.5s;
  }

  /*efeito dos icones das redes sociais*/
  .itens_redes:hover{
      margin-left: 10px;
      cursor: pointer;
      transition: 0.5s;
  }

  #content{
      width: 1500px;
      height: 1050px;
      padding-top: 15px;
  }

  #titulo{
      width: 1000px;
      height: 80px;
      text-align: center;
      font-size: 50px;
      padding-top: 20px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
  }

  #content_produto{
      width: 800px;
      height: 810px;
      margin-left: auto;
      margin-right: auto;
      border: solid 2px #8B4513;
  }

  #titulo_produto{
      width: 800px;
      height: 60px;
      font-size: 35px;
      padding-top: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: #ffffff;
      background-color: #8B4513;
  }

  #imagem_produto{
      width: 600px;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
  }

  #texto_produto{
      width: 800px;
      height: 200px;
      font-size: 25px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: #8B4513;
  }

  #valor_produto{
      width: 800px;
      height: 50px;
      font-size: 35px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: #008000;
  }

  /*----------------------- ÁREA DO RODAPÉ --------------------------*/
  /*é o elemento que fica por tras dos outros, dando tamanho, cor para o rodapé*/
  footer{
      width: 1495px;
      height: 200px;
      background-color: #FFDEAD;
      margin-left: auto;
      margin-right: auto;
      color: #8B4513;
      border: groove 3px rgba(147, 67, 0, 0.6);

  }

  /*formatação dos links, retirada dos sublinhados, mudando cor, etc*/
  a:link{
      color: #8B4513;
  }
  .links:visited {
      color:#8B4513;
      text-decoration: none;
  }
  .links:active {
      color:#8B4513;
      text-decoration: none;
  }
  .links:hover{
      color:#8B4513;
      cursor:pointer;
      transition:0.3s;
  }
}
