#main{
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, .6);
}

header{
    width: 1000px;
    height: 250px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #8B4513;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* area onde fica todo o conteudo da pagina */
#content{
    width: 1000px;
    height: 600px;
    text-align: center;
    margin-top: 2px;
    background-color: #FFDEAD;
}

/* formatação do titulo do content */
.titulo_content{
    width: 1000px;
    height: 27px;
    font-size: 1.4em;
    font-weight: 800;
    padding-top: 3px;
}

.content_cadastro{
    width: 970px;
    height: 200px;
    padding: 15px;
}

#niveis_cadastrados{
    height: 270px;
}

.campos{
    width: 300px;
    height: 100px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 800;
    margin-right: auto;
    margin-left: auto;
}

.inputs{
    width: 280px;
    height: 25px;
    margin-top: 10px;
}

textarea{
    width: 250px;
    margin-top: 10px;
    height: 100px;
    resize: none;
}

#botoes{
    width: 400px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

.botao_style{
    width: 100px;
    height: 50px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, .0);
    border: groove 3px #8B4513;
    font-size: 17px;
    font-weight: 900;
}

.botao_style:hover{
    cursor: pointer;
    box-shadow: -7px 3px 7px rgba(0, 0, 0, .5);
}

#borda{
    width: 700px;
    border-bottom: groove 3px #8B4513;
    margin-left: auto;
    margin-right: auto;
}

#caixa_tabela{
    width: 900px;
    height: 320px;
    margin-right: auto;
    margin-left: auto;
}

#tabela{
    width: 515px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
}

#linha_titulos{
    width: 500px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

#titulos_tabela{
    width: 480px;
    height: 46px;
    padding: 10px;
    border-bottom: solid 4px #8B4513;
}

.titulos{
    width: 230px;
    height: 40px;
    font-size: 1.7em;
    text-align: center;
    padding-top: 10px;
    margin-right: 5px;
    float: left;
}

#registros{
    width: 510px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.registros_tabela{
    width: 805px;
    height: 48px;
    padding: 10px;
    border-bottom: solid 2px #8B4513;
}

.registros{
    width: 240px;
    height: 40px;
    font-size: 1.3em;
    text-align: center;
    padding-top: 15px;
    overflow: hidden;
    margin-right: 5px;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.img_opcoes{
    width: 40px;
    height: 40px;
    
}

footer{
    width: 1000px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    font-size: 1.2em;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #8B4513;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/*formatação dos links, retirada dos sublinhados, mudando cor, etc*/
a:link{
    color: #000000;
}
.links:visited {
    color:#000000;
    text-decoration: none;
}
.links:active {
    color:#000000;
    text-decoration: none;
}
.links:hover{
    color:#000000;
    cursor:pointer;
    transition:0.3s;
}
